html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.new-tweet {
  padding: 0% 5%;
  text-align: left;
}

.new-tweet form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
}

.new-tweet textarea {
  background-color: transparent;
  resize: none;
  border-bottom: 5px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 25px;
  margin-top: 100px;
}

.new-tweet textarea::placeholder {
  font-size: 1.25em;
  font-weight: bold;
}

.new-tweet button {
background-color: #4056A1;
color: white;
border: none;
padding: 10px 10px;
font-weight: 900;
margin-bottom: 70px;
}

/* color for counter from composer-char-counter.js file*/
.red-counter {
  color: red; 
}

/* tweets-container */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* replace with <img tag and url 
header .fas {
  display: flex;
  justify-content: space-between;
} */

img {
  display: flex;
  margin-right: 10px;
}

footer {
  border-bottom: none;
  border-top: 5px solid;
  border-left: none;
  border-right: none;
  margin-bottom: 25px;

}

.timestamp {
  margin-top: 10px;
  font-family: 'Source Sans Pro';
}
/* icons */
footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

article {
  border:solid;
  padding: 15px;
  margin-bottom: 40px;
}
.handle {
  margin-left: auto;
}

.footer_icons {
  margin-left: auto;
}
.footer_icons i{
  margin-top: 10px;
  padding: 2px;
}

/* hover selectors */
article:hover {
  box-shadow: 10px 5px 5px gray;
}

.footer_icons i:hover {
  color:lightskyblue;
}

/* Validation alert messages !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.error {
  border: 1px solid;
  margin: 10px auto;
  margin-top: 90px;
  padding: 15px 10px 15px 50px;
  border-radius:.5em; 
  box-shadow:1px 1px 3px #888;
  color: #D8000C;
	background-color: #FFBABA;
}

 .warning {
  border: 1px solid;
  margin: 10px auto;
  margin-top: 90px;
  padding: 15px 10px 15px 50px;
  border-radius:.5em; 
  box-shadow:1px 1px 3px #888;
	color: #9F6000;
	background-color: #FEEFB3;
}


