html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.new-tweet {
  padding: 0% 5%;
  text-align: left;
}

.new-tweet form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
}

.new-tweet textarea {
  background-color: transparent;
  resize: none;
  border-bottom: 5px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 25px;
}

.new-tweet textarea::placeholder {
  font-size: 1.25em;
  font-weight: bold;
}

.new-tweet button {
background-color: #4056A1;
color: white;
border: none;
padding: 10px 10px;
font-weight: 900;
}

/* color for counter from composer-char-counter.js file*/
.red {
  color: red; 
}

/* tweets-container */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header .fas {
  display: flex;
  justify-content: space-between;
}

footer {
  border-bottom: none;
  border-top: 5px solid;
  border-left: none;
  border-right: none;
  margin-bottom: 25px;

}

.timestamp {
  margin-top: 10px;
  font-family: 'Source Sans Pro';
}
/* icons */
footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

article {
  border:solid;
  padding: 15px;
  
}
.handle {
  margin-left: auto;
}

.footer_icons {
  margin-left: auto;
}
.footer_icons i{
  margin-top: 10px;
  padding: 2px;
}

/* hover selectors */
article:hover {
  box-shadow: 10px 5px 5px gray;
}

.footer_icons i:hover {
  color:lightskyblue;
}
